@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

blockquote ol > li{
    list-style: none;
    counter-increment: list;
}

blockquote ol > li::marker{
    /* \a0 is nbsp to have space between parenthesis and text */
    content: "(" counter(list, lower-roman) ")\a0";
}
